<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>200744985130-4cg22692t4bm4cu5mrk8qr274s1nnsoc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.200744985130-4cg22692t4bm4cu5mrk8qr274s1nnsoc</string>
	<key>API_KEY</key>
	<string>AIzaSyDhKsSaaLfeTzwPn3EZr12lrlZAJ2hsfAg</string>
	<key>GCM_SENDER_ID</key>
	<string>200744985130</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.ZoeLACoor.vd</string>
	<key>PROJECT_ID</key>
	<string>zoelalive</string>
	<key>STORAGE_BUCKET</key>
	<string>zoelalive.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:200744985130:ios:088e2a73b2d9482ac61953</string>
	<key>DATABASE_URL</key>
	<string>https://zoelalive.firebaseio.com</string>
</dict>
</plist>